/* reset by rafaux */
* { margin: 0px; padding: 0px; border: 0px; font-weight: normal; font-size: 100%; list-style: none; line-height: 1; outline: 0px; background: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-smoothing: antialiased; }

/* var */
:root { --black: #000; }

/* global class */
.container { display: block; width: auto; max-width: 1200px; height: auto; margin: 0px auto; }
.wrapper { display: flex; }

/* base */
a { text-decoration: none; transition: all .5s ease; }
body { background: #fff; font: normal 16px 'Tahoma', sans-serif; overflow-x: hidden; }
input, textarea, select, button { font: normal 16px 'Tahoma', sans-serif; appearance: none; -webkit-appearance: none; border-radius: 0px; cursor: pointer; }
input[type=submit], button { transition: all .5s ease; }